<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- mapper:根标签，namespace：命名空间，随便写，一般保证命名空间唯一 -->
<mapper namespace="com.ddj.mapper.logic.DataInfoMapper">

    <select id="getInfo" resultType="com.ddj.entity.logic.DataInfo">
        SELECT
        keshi name,
        value
        <if test="chart!=null and chart=='yes'">
            ,rate
            ,rank
        </if>
        <if test="sum!=null and sum=='yes'">
            ,sum
        </if>
        FROM
        (
        SELECT
        s.value,
        s.keshi,
        s.rate,
        @paixu := @paixu + 1,@incrnum := CASE
        WHEN @rowtotal = s.value THEN @incrnum
        WHEN @rowtotal := s.value THEN @paixu END rank,
        s.sum
        FROM
        (SELECT keshi,value,rate,sum FROM data_info
        WHERE date LIKE CONCAT(#{date},'%') AND type = #{type}
        ORDER BY value DESC) AS s,
        (SELECT @paixu := 0 ,@rowtotal := NULL ,@incrnum := 0)r
        ) w
    </select>

    <insert id="insertInfo" parameterType="String">
        INSERT INTO data_info
            (date,keshi,value,rate,sum,type)
            (
                SELECT
                    date,
                    keshi,
                    SUM(VALUE) value,
                    ROUND((SUM(VALUE) / b.t) * 100, 2) rate,
                    b.t sum,
                    type
                FROM
                    dabao_tuiyao_source a,
                    (
                        SELECT
                            SUM(VALUE) t
                        FROM
                            dabao_tuiyao_source
                        WHERE
                            date LIKE CONCAT(#{date},'%') AND type = #{type}
                    ) b
                WHERE
                    date LIKE CONCAT(#{date},'%') AND type = #{type}
                GROUP BY
                    keshi
                HAVING
                    SUM(VALUE) != 0
            )
    </insert>

    <insert id="insertYizhuInfo" parameterType="String">
        INSERT INTO data_info
            (date,keshi,value,rate,sum,type)
            (
                SELECT
                    date,
                    keshi,
                    COUNT(keshi) VALUE
                        ,
                    ROUND((COUNT(keshi) / b.t) * 100, 2) rate,
                    b.t sum,
                    'yizhu' type
                FROM
                    yizhu_source a,
                    (
                        SELECT
                            COUNT(keshi) t
                        FROM
                            yizhu_source
                        WHERE
                            date like CONCAT(#{date},'%')
                    ) b
                WHERE
                    date like CONCAT(#{date},'%')
                GROUP BY
                    keshi
            )
    </insert>

    <delete id="deleteInfo" parameterType="String">
        DELETE FROM data_info WHERE date like CONCAT(#{date},'%') AND type = #{type};
    </delete>


</mapper>